.Client {
    width: 600px;
    height: 70px;
    padding: 16px;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 6px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    display: inline-flex;
}

.Client button {
    padding: 5px;
    float: right;
    cursor: pointer;
}

.Client button:hover {
    background-color: #fa923f;
}

.Client h4 {
    cursor: pointer;
}

.Client h4:hover {
    color: #fa923f;
}

@media (min-width: 601px) {
    .Client {
        width: 80%;
    }
}