.DemoPage ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(59, 59, 59);
}

.DemoPage li {
    display: inline-block;
    margin: 20px;
}

.DemoPage a {
    text-decoration: none;
    color: white; 
}

.DemoPage a:hover,
.DemoPage a:active,
.DemoPage a.active {
    color: #fa923f;
}

.Disabled {
    cursor: not-allowed;
}

