.Clients {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
}

.SortButtons {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 20%;
}